@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-primary: "Poppins", sans-serif;
    --text-muted: #fff;
    --text-link: #53fd6a;
}

:disabled {
    opacity: 0.5;
    pointer-events: none;
}
:not(:defined) {
    display: none;
}

body {
    margin: 0;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
    color: var(--text-link);
}

a:hover {
    text-decoration: underline;
    color: var(--text-muted);
}

button {
    border: none;
    padding: 10px 15px;
    background: #303e45;
    color: #FFF;
    font-family: var(--font-primary);
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

input {
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
    font-family: var(--font-primary);
}